#hero{
    background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0fGVufDB8fDB8fHww&w=1000&q=80");
     height: 91vh;
    /* Full viewport height */

    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}
#hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#nav {
    background-color: #131313;
    padding: 10px 0;
    text-align: center;
}
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
#nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 5px;
}